<phpunit bootstrap="vendor/autoload.php">
    <php>
        <env name="APP_ENV" value="test"/>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>

        <testsuites>
        <testsuite name="Chatapp Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
